@font-face {
  font-family: "NanumSquareRound";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
body {
  overflow: hidden;
  font-family: "NanumSquareRound";
}

ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style-type: none;
}

.top_nav {
  height: 8vh;
  width: 100%;
  background-color: white;
  position: relative;
  z-index: 10;
  box-shadow: 0 -5px 10px -5px #929292, 0 5px 5px -5px #929292;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}
.top_nav .search_box {
  height: 45px;
  width: 60%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  background-color: #D6D5D5;
  border-radius: 10px;
}
.top_nav .search_box svg {
  font-size: 23px;
  margin: 0 7px 0 10px;
  color: #525252;
}
.top_nav .search_box .search_input {
  border: 0;
  height: 100%;
  width: 100%;
  background-color: unset;
  outline: none;
  font-size: 17px;
  font-family: "NanumSquareRound";
}
.top_nav button {
  margin-left: 20px;
  background-color: #1E90FF;
  padding: 6.75px 16px 6.75px 10px;
  border-radius: 25px;
  text-transform: none;
  font-size: 18px;
}
.top_nav button svg {
  font-size: 22px;
  margin-right: 10px;
}

.main {
  width: 100%;
  height: 92vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
}
.main .img1 {
  background-image: url("./img/0.png");
  opacity: 0.5;
  background-size: cover;
  width: 33vw;
  height: 33vw;
  position: absolute;
  top: -13vw;
  right: -12vw;
  transform: rotate(35deg);
}
.main .img2 {
  background-image: url("./img/3.png");
  opacity: 0.5;
  background-size: cover;
  width: 35vw;
  height: 35vw;
  position: absolute;
  top: 20%;
  left: -18vw;
  transform: rotate(75deg);
}
.main .img3 {
  background-image: url("./img/4.png");
  opacity: 0.5;
  background-size: cover;
  width: 30vw;
  height: 30vw;
  position: absolute;
  bottom: -20vw;
  right: 20vw;
  transform: rotate(-50deg);
}
.main .title_area {
  width: 100vw;
  height: 10%;
  text-align: center;
  font-size: 60px;
  font-family: "Lilita One", sans-serif;
}
.main .notepad_area {
  width: 80%;
  height: 100%;
}
.main .notepad_area .notepad_top_area .notepad_top_title {
  font-size: 23px;
}
.main .notepad_area .notepad_top_area .notepad_nav_area {
  display: flex;
  align-items: center;
}
.main .notepad_area .notepad_top_area .notepad_nav_area nav {
  background: #fff;
  border-radius: 9px;
  width: 100%;
}
.main .notepad_area .notepad_top_area .notepad_nav_area nav ul li {
  width: 12%;
  height: 45px;
  display: inline-block;
  list-style: none;
  font-size: 18px;
  margin: 0 20px;
  cursor: pointer;
  position: relative;
  text-align: center;
  line-height: 45px;
}
.main .notepad_area .notepad_top_area .notepad_nav_area nav ul li:after {
  content: "";
  width: 0;
  height: 3px;
  background: #FFB6C1;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: 0.5s;
}
.main .notepad_area .notepad_top_area .notepad_nav_area nav ul li:hover::after {
  width: 100%;
}
.main .notepad_area .notepad_top_area .notepad_nav_area nav ul li:first-child {
  margin-left: 0;
}
.main .notepad_area .notepad_top_area .notepad_nav_area nav ul .active {
  background-color: #FFB6C1;
  color: white;
  border-radius: 30px;
}
.main .notepad_area .notepad_top_area .notepad_nav_area nav ul .active:hover::after {
  width: 0;
}

/*# sourceMappingURL=App.css.map */
